h1, h2, h3, h4, h5, h6, div, body, img, ul, li, table, th, td, tr, tbody, thead, tfoot, figure, figcaption {
    margin: 0;
    padding: 0;
    border: none;
}

* {
    font-family: '微软雅黑'
}

.container {

}

.main-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: #CCC;
}

.left-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #FC0;
    border-bottom-right-radius: 50px;
}

.right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #FC0;
    border-top-left-radius: 50px;
}